<h1>Accomodations</h1>
<p>
  <strong>Holtsville Residence Inn Marriot</strong><br/>
  <a href="http://maps.google.com/maps?q=25+Middle+Avenue+Holtsville,+NY+11742" target="_blank">
    25 Middle Avenue<br/>
    Holtsville, NY 11742<br/>
  </a>
  <a href="tel:6314759500">(631) 475-9500</a><br/>
  <a href="tel:18003313131">1 (800) 331-3131</a><br/>
</p>
<p>
  <strong>Group code</strong><br/>
  EFWS
</p>