<h1>Ceremony</h1>
<p>
  <strong>Integrity Christian Fellowship</strong><br/>
  <a href="http://maps.google.com/maps?q=1+Old+Dock+Rd+Yaphank,+NY+11980" target="_blank">
    1 Old Dock Rd<br/>
    Yaphank, NY 11980
  </a>
</p>