<h1>Event Details</h1>

<h2>Reception</h2>
<p>
  <strong>West Sayville Country Club</strong><br/>
  <a href="http://maps.google.com/maps?q=200+Main+Street+West+Sayville,+New+York+11796" target="_blank">
    200 Main Street<br/>
    West Sayville, New York 11796
  </a>
</p>

<h2>Ceremony</h2>
<p>
  <strong>Integrity Christian Fellowship</strong><br/>
  <a href="http://maps.google.com/maps?q=1+Old+Dock+Rd+Yaphank,+NY+11980" target="_blank">
    1 Old Dock Rd<br/>
    Yaphank, NY 11980
  </a>
</p>
