<h1>Our Story</h1>
<h2>The Boy</h2>
<p>
  There truly are a few precious moments that resonate throughout the
  entirety of one's life. These are the moments that seem to transcend time
  and float to surface of our memories almost effortlessly. The day my sister
  became a part of our family; the last time I got the ultimate privilege to hug
  my father; the day I first was offered my first job and now most recently,
  the day I proposed to the most incredible girl I had ever laid eyes upon.
  This beautiful gift from God has brought me to a better understanding
  of the definition of a best friend and has given new meaning to true joy.
  The resounding melody of love and laughter that Cherisa has flooded my
  life with has truly proven the existence of a divine Savior. I am blessed
  beyond measure to soon call Cherisa Fee my wife.
</p>
<h2>The Girl</h2>
<p>
  I get to marry the man that I love times infinity and beyond! Although
  cheesy, or gross according to Julia; Justin and I haven adopted this saying
  because we feel that words are inadequate to capture all of what we feel
  for one another. We use infinity and beyond because well you can't get
  any more than that (just ask Buzz). But the real truth is I struggle to find an
  alternate way to express how much my Hun-bun means to me. To say he
  is my best friend is an understatement. Instead, he is more like the other
  half of me that I never knew was missing. He is the part that has my best
  interest at heart. He is the only person who knows my every thought and
  feeling without a single word. He brings me indescribable joy. He is an
  answer to prayer, a true testament of God's abounding love. It is a privilege
  to call him friend and blessing to very soon call him husband.
</p>
