<h1>Reception</h1>
<p>
  <strong>West Sayville Country Club</strong><br/>
  <a href="http://maps.google.com/maps?q=200+Main+Street+West+Sayville,+New+York+11796" target="_blank">
    200 Main Street<br/>
    West Sayville, New York 11796
  </a>
</p>